<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% extends "layout.html" %} {% block content %}
<div class="welcome-message">
    <h2>Welcome to our store!</h2>
    <p>
        Try searching for your favorite products. For example:
        <ul>
            <li>Apples</li>
            <li>Bananas</li>
            <li>Yogurt</li>
        </ul>
    </p>
</div>
<div class="search-bar">
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
    <form action="/search" method="POST">
        <input type="text" name="product_name" placeholder="Search..." required>
        <input type="submit" value="Search">
    </form>
</div>
{% endblock content %}
